.box {
  text-align: center;
  margin: 0;
}

.row{
  display:flex;
  justify-content: center;
}

.App{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  position: relative;
}

.credit{
  position: fixed;
  display:flex;
  bottom:0;
  left:0;
  margin-bottom: 10px;
  margin-left: 10px;
  color: white;
}



/* https://makeschool.org/mediabook/oa/tutorials/react-fundamentals-vm0/build-a-header-component/ */
.Title {
font-size: 90px;
display: flex;
justify-content: center;
padding: 1px;
margin-bottom: 2px;
color: #73be73;
font-family: "Cabin", Times, sans-serif;
}

.middle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
/* from previous project */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
} 


html, body { height: 100%; }
/* https://www.youtube.com/watch?v=MMNEEdGa5eE */
body {
  background: radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #C2B280 100%);
  overflow: hidden;
}
.ocean {
  height: 5%;
  width: 100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}
.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0,0,0);
  
}
.wave:nth-of-type(2){
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}
.wave:nth-of-type(3){
  top: -150px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.25s infinite, swell 7s ease -2.5s infinite;
  opacity: 0.7;
}
.wave:nth-of-type(4){
  top: -150px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.5s infinite, swell 7s ease -5s infinite;
  opacity: 0.3;
}

.turtle {
  /* found online */
  background-image: url(animatedturtle-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 10%;
  left: 30%;
  transform: translateX(-50%);
  animation: moveTurtle 14s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  width: 230px;
  height: 190px;
  rotate: 5deg;
}

.turtle1 {
  background-image: url(animatedturtle-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 60%;
  left: 80%;
  rotate: 30deg;
  transform: translateX(-50%);
  width: 230px;
  height: 190px;
}

.turtle2 {
  background-image: url(animatedturtle-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 55%;
  left: 10%;
  rotate: -25deg;
  transform: translateX(-50%);
  width: 230px;
  height: 190px;
}
.seashell{
  /* found online */
  background-image: url(seashell.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 20%;
  left: 15%;
  transform: translateX(-50%);
  width: 30px;
  height: 190px;
  rotate: 20deg;
}
/* found online */
.seashell2{
  background-image: url(seashell2.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 50px;
  height: 70px;
  bottom: 50%;
  left: 75%;
  rotate: 160deg;
}
/* found online */
.seashell3{
  background-image: url(seashell3.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 100px;
  bottom: 10%;
  left: 85%;
}
@keyframes wave {
  0%{
    margin-left: 0;
  }
  100%{
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100%{
    transform: translate3d(0,-25px,0);
  }
  50%{
    transform: translate3d(0,5px,0);
  }
  
}
@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100px); }
}
@keyframes moveTurtle{
  0%{
bottom: 10%;
  }
 
  50%{
    bottom: 2%;
  }

  100%{
    bottom: 10%;
  }
}
/* https://codepen.io/Mark_Bowley/pen/LYZEBq */
@-webkit-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
      margin-left: -1000px;
  }
  100% {
      margin-left: 100%;
  }
}

/* https://www.youtube.com/watch?v=2rAWtqtzqb8 */

@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100px); }
}

@keyframes lighting{
  0%
  {
    opacity: 0;
  }
  10%
  {
    opacity: 0;
  }
  11%
  {
    opacity: 40%;
  }
  12%
  {
    opacity: 0;
  }
  20%
  {
    opacity: 0;
  }
  21%
  {
    opacity: 40%;
  }
  22%
  {
    opacity: 0;
  }
  104%
  {
    opacity: 0;
  }

}

@media(max-width: 992px){
.middle{
  top: 70%;
}
}
